<StackLayout class="p-20">
    <Label [text]="selectedFood.name"></Label>
    <Label [text]="selectedFood.brand"></Label>
    <Label [text]="selectedFood.category"></Label>
    <FlexboxLayout alignContent="center" justifyContent="center" alignItems="center">
        <Label [text]="selectedFood.weight * quantity"></Label>
        <Label [text]="selectedFood.weightType"></Label>
    </FlexboxLayout>
    <FlexboxLayout alignContent="center" justifyContent="center" alignItems="center">
            <Label [text]="selectedFood.points * quantity"></Label>
            <Label text=" points"></Label>
        </FlexboxLayout>
    <TextField [(ngModel)]="this.quantity" keyboardType="number"></TextField>
    <Button text="Ajouter" (tap)="addMeal()"></Button>
 </StackLayout>