<StackLayout class="p-20" page="home">
   <Label id="pointsLabel" text="Points"></Label>
   <Label id="pointsLeftLabel" [text]='this.pointsLeft'></Label>
   <Label id="pointsWeeklyLabel" text="Réserve"></Label>
   <Label id="pointsLeftWeekly" [text]='this.pointsLeftWeekly'></Label>
   <Button text="Ajouter aliment" [nsRouterLink]="['../food']"></Button>
   <FlexboxLayout flexDirection="row">
         <ListView flexGrow="1" id="listMeal" [items]="meals">
             <ng-template let-item="item">
               <StackLayout>
                     <Label [text]="item.food.name"></Label>
                     <Label [text]="item.food.points * item.quantity"></Label>
                     <Label [text]="item.eatDate"></Label>
               </StackLayout>
             </ng-template>
         </ListView>
         </FlexboxLayout>
</StackLayout>