<BottomNavigation selectedIndex="0">
    <TabStrip>
        <TabStripItem>
            <Label text="Home"></Label>
        </TabStripItem>
        <TabStripItem>
            <Label text="Dashboard"></Label>
        </TabStripItem>
        <TabStripItem>
            <Label text="Settings"></Label>
        </TabStripItem>
    </TabStrip>

    <TabContentItem>
        <page-router-outlet name="home"></page-router-outlet>
    </TabContentItem>
    <TabContentItem>
        <page-router-outlet name="dashboard"></page-router-outlet>
    </TabContentItem>
    <TabContentItem>
        <page-router-outlet name="settings"></page-router-outlet>
    </TabContentItem>
</BottomNavigation>