<StackLayout class="p-20 page">
        <Label text="Points journalier"></Label>
        <TextField keyboardType="number" [(ngModel)]='this.pointsDaily'></TextField>
        <Label text="Points hebdomadaire"></Label>
        <TextField keyboardType="number" [(ngModel)]='this.pointsWeekly'></TextField>
        <Button text="Sauvegarder" (tap)="saveSettings()"></Button>
</StackLayout>
         