
    <StackLayout class="home-panel page">
        <!--<Button text="ggsdfgdfgdfgdfggdfdfg" [nsRouterLink]="['../food-detail']"></Button>-->
        <SearchBar hint="Entrez un aliment/catégorie"
            [(ngModel)]="searchPhrase"
            (submit)="onSubmit($event)">
        </SearchBar>
    <FlexboxLayout flexDirection="row">
    <ListView flexGrow="1" id="listFood" [items]="foods" (itemTap)="onItemTap($event)">
        <ng-template let-item="item">
        <GridLayout columns="*,*,*" rows="*,*,*">
            <Label id="nameLabel"row="0" col="0" [text]="item.name" colSpan="3"></Label>
            <Label id="brandLabel" row="1" col="0" [text]="item.brand"></Label>
            <Label id="servingDescLabel" row="1" col="1" [text]="item.servingDesc"></Label>
            <Label id="pointsLabel" row="1" col="2"[text]="item.points"></Label>
        </GridLayout>
        </ng-template>
    </ListView>
    </FlexboxLayout>
</StackLayout>

